<div class="outer">
  <div *ngIf="loggedInUserIndex > -1" class="top">
    <app-roulette-wheel
      [isGameMaster]="partyAnimalService.isLoggedInUserGameMaster()"
      [partyAnimals]="partyAnimals">
    </app-roulette-wheel>
    <app-game-events-console
      [isGameMaster]="partyAnimalService.isLoggedInUserGameMaster()"
      [categories]="categories"
      [partyAnimals]="partyAnimals">
    </app-game-events-console>
    <app-card-desk
      [categories]="categories"
      [myIndex]="loggedInUserIndex">
    </app-card-desk>
  </div>
</div>
