<div *ngIf="displayedCards.length > 1" class="row">
  {{"TITLE_PICK_CARD" | translate}}
</div>
<div class="row">
  <div *ngFor="let c of displayedCards; let i = index" class="col">
    <div (click)="selectCard(i)" *ngIf="selectedCardIndex != i"
         [style.background-image]="getCardBackUrlByColor(categories[c.categoryIndex].color)"
         class="back">
    </div>
    <span *ngIf="selectedCardIndex != i"
          [style.color]="categories[c.categoryIndex].color"
          class="card-title">
        <b>{{categories[c.categoryIndex].name | translate}}</b>
      </span>
    <div *ngIf="selectedCardIndex == i" class="front">
        <span [style.color]="categories[c.categoryIndex].color" class="title">
          {{categories[c.categoryIndex].name | translate}}
        </span>
      <p>{{categories[c.categoryIndex].ideas[c.ruleIndex].text}}</p>
    </div>
  </div>
</div>
