/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.center {
  flex: 1 1 auto;
  text-align: center;
}

.row {
  display: table;
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}

.col {
  display: table-cell;
}


@media (min-width: 1001px) {
  .top, .bottom {
    position: absolute;
    width: 50%;
    left: 25%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .top, .bottom {
    position: absolute;
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 600px) {
  .top, .bottom {
    width: 90%;
  }
}

.top, .bottom {
  margin: 10px;
}

.bottom {
  position: absolute;
  bottom: 0;
}
