/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

.center {
  flex: 1 1 auto;
  text-align: center;
}

.row {
  display: table;
}

.col {
  display: table-cell;
}

.outer {
  margin: 10px
}

@media (min-width: 1001px) {
  .top, .bottom {
    position: absolute;
    left: 25%;
    width: 50%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .top, .bottom {
    position: absolute;
    width: 80%;
    left: 10%;
  }
}

@media (max-width: 600px) {
  .top, .bottom {
    width: 90%;
    left: 5%
  }

}

.top, .bottom {
  margin: 10px;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.right, .bottom > button {
  float: right;
}

.console {
  display: block;
  overflow-y: scroll;
  margin: 10px;
  color: darkgrey;
  font-size: 10px;
  float: left;
  height: 40%;
  width: 100%
}


.icon-display {
  transform: scale(0.75);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
