<div class="row">
  <h2>{{"TITLE_RANDOMIZER" | translate}}</h2>
  <div *ngFor="let animal of partyAnimals; let i = index"
       [ngStyle]="activeIndex === i ? {'background-color': getColorForIndex(i), 'border-color': getColorForIndex(i), 'color': 'white'}
                                    : {'background-color': 'transparent', 'border-color': getColorForIndex(i), 'color': getColorForIndex(i)}"
       class="btn btn-sm btn-outline-light ml-2 active user-tile"
  >
    {{animal.name}}
  </div>
</div>

